* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111;

	/* leave it to hide the scrollbars */
	overflow: hidden;
}
